.page-title
{
    background-color:#114455;
    margin: 0;
    display: flex;
    justify-content: center;
    color:whitesmoke
}

body
{
    margin: 0;
}

nav
{
    display: flex;
    justify-content:space-around;
    background-color: #114455;
}

.categories
{
    color: whitesmoke;
    margin:10px
}

.Notice
{
    justify-content: center;
    align-items: center;
}